@import "_btnConfig.scss";
@import "_config";
@import "_utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li { display: inline-block; }

  a {
    display: block;
    border: solid black 1px;
    margin: 20px 10px;
    padding: 10px 12px;
    text-decoration: none;
  }
}

.hero {
  background-position: center;
        padding-top: 10px;
        padding-bottom: 140px;
        text-align: center;
        h1 {
            font-size: 50px;
            max-width: 300px;
            margin: 30px auto 1rem;
            color: white;
        }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
